
@{
    ViewData["Title"] = "hw4";
}

<h1>hw4</h1>


    <div class="row">
    <select class="selectcities" aria-label="Default select example">
            <option selected>請選擇</option>
        </select>
    </div>
    <span class="text"></span>


@section Scripts{
    <script>
        $(document).ready(function () {
            const selectContainer = $('.selectcities');
            const span = $('.text');
            const cities = ["台北市", "新北市", "桃園市", "台中市", "台南市", "高雄市"];

            cities.forEach((item, i) => {
                const option = `<option value="${item}">${item}</option>`;
                selectContainer.append(option);
            });

            $('select.selectcities').on('change', function () {
                span.text($(this).val());
            });
        });
    </script>
}