
@{
    ViewData["Title"] = "Travel";
}

<h1>Travel</h1>

@section Scripts{
    <script src="~/datas/travel.js"></script>
    <script>
        console.log(spots)
        console.log(spots.CommonFormat.Section[0].file.img[0].text)
    </script>
}

@section Styles{

}